body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 1.6em;
}

/* bootstrap */

.navbar {
   min-height: 48px;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.shrink {
  min-height: 35px;
}

nav .container {
    min-height: inherit;
}

.container > .coucou-navbar-header {
    min-height: inherit;
    background-image: url("../images/logo-48.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-left: -10px;
}

.coucou-navbar-brand {
    padding-left: 67px;
}

footer {
    text-align: center;
}

.placeholder {
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 2.5em;
}

.spinner {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
