<!DOCTYPE html>
<html>
<head data-th-fragment="default">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" data-th-content="${page.description}">
    <meta name="author" data-th-content="${page.author}" content="Micronode Inc.">
    <link rel="icon" href="/assets/coucou/favicon.ico">

    <title data-th-text="${page.title}">[TITLE]</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/wp/css/layout.css" rel="stylesheet">
    <link href="/assets/coucou/css/coucou.bundle.css" rel="stylesheet">
    <link href="/assets/coucou/css/fonts.css" rel="stylesheet">

    <!-- Sling -->
    <!--<script src="/system/sling.js"></script>-->
</head>
<body>
</body>
</html>